* {
    box-sizing: border-box;
}

body {
    background: #23252C;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
}

.container {
    width: 320px;
    height: 800px;
    border-radius: 10px;
    background: #1A1B21;
}

.info {
    text-align: center;
}

.info--profile-photo {
    width: 320px;
    height: 320px;
    border-radius: 10px 10px 0 0;
}

.info--title {
    color: #F3BF99;
}

.info--button {
    width: 115px;
    padding: 9px 13px 9px 11px;
    margin: 0 10px 20px ;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

#info--linkedin {
    background: #5093E2;
}

.info--link {
    text-decoration: none;
    color: #000
}

#info--linkedin-link {
    color: #fff;
}

.about-interests {
    padding: 0 20px;
    color: #F5F5F5;
}

.about-interests--p {
    margin-top: -10px;
    font-size: 13px;
    color: #DCDCDC;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    width: 320px;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    background: #161619;
}

.footer--icon {
    margin: 0 20px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 10px;
    fill: #918E9B;
}